body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

code {
    background-color: #F2F2F1;
    padding: .1rem;
}

pre {
    background-color: #F2F2F1;
    padding: .5rem 1rem;
    border-radius: .1rem;
    border: 1px solid #CDCDCA;
}

textarea {
    height: 60vh;
    width: 80%;
}


.wrap-header {
    display: flex;
    justify-content: center;
}

.search {
    all: unset;
    width: 40vw;
    font-size: small;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 15px;
    color: black;
    border: 1px solid #E0E0DD;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

.search::placeholder {
    color: #8A8A89;
}

.search:focus {
    color: #3F3F3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #C3C3C1;
}

.search:focus::placeholder {
    color: #C3C3C1;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 15%;
    border-top: 1px solid #C3C3C1;
    border-right: 1px solid #C3C3C1;
    border-bottom: 1px solid #C3C3C1;
    padding-bottom: 3rem;
}

.sidebar h2 {
    text-align: center;
    color: #3F3F3E;
}

.wrap-link {
    text-align: center;
    background-color: #F2F2F1;
    width: 90%;
    margin-top: 2rem;
    margin-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: 1px solid #E0E0DD;
    border-right: 1px solid #E0E0DD;
    border-bottom: 1px solid #E0E0DD;
    font-size: small;
    font-weight: 600;
    color: #2F343C;
    text-decoration: none;
}

.wrap-link:hover {
    background-color: #E0E0DD;
}

.wrap-link a {
    font-size: small;
    font-weight: 600;
    color: #2F343C;
    text-decoration: none;
}

.wrap-link a:hover {
    text-decoration: underline;
}

.main {
    width: 85%;
}

.wrap-article,
.wrap-index,
.wrap-new {
    margin-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-top: 1px solid #C3C3C1;
    border-bottom: 1px solid #C3C3C1;
    min-height: 60vh;
}

.wrap-heading-new {
    text-align: center;
    color: #434342;
}

.wrap-new-form {
    color: #434342;
    padding: 1rem 5rem;
}

.form-title {
    all: unset;
    display: block;
    font-size: medium;
    font-weight: 600;
    padding: .6rem 1.2rem;
    margin: 2rem 0;
    background-color: #F2F2F1;
    border: 1px solid #F2F2F1;
    border-radius: .3rem;
}

.form-title:focus,
.form-article:focus {
    color: #3F3F3E;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #CDCDCA;
}

.form-title::placeholder,
.form-article::placeholder {
    color: #8A8A89;
    font-weight: 600;
}

.form-title:focus::placeholder,
.form-article:focus::placeholder {
    color: #C3C3C1;
}

.form-article {
    all: unset;
    resize: none;
    background-color: #F2F2F1;
    padding: 1rem;
    border: 1px solid white;
    border-radius: .5rem;
    width: 100%;
    color: #434342;
    min-height: 40vh;
}


.wrap-heading {
    text-align: center;
    color: #434342;
    border-bottom: 1px solid #E0E0DD;
}

.wrap-result {
    color: #434342;
    padding: 1rem 5rem;
}

.wrap-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrap-entries a {
    text-decoration: none;
    color: #434342;
}

.wrap-entry {
    cursor: pointer;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    overflow: hidden;
    color: #8A8A89;
    background-color: #F2F2F1;
    border: 1px solid #F2F2F1;
    border-radius: .4rem;
    padding: 2rem 2rem;
    transition: 0.3s ease-in-out;
}

.wrap-entry:hover {
    color: #434342;
    background-color: white;
    border: 1px solid #C3C3C1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.no-result {
    color: #434342;
    text-align: center;
    padding-top: 3rem;
    font-size: large;
}

.wrap-content,
.wrap-new-form {
    color: #434342;
    padding: 1rem 5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    min-height: 60vh;
    border: 1px solid #E0E0DD;
    border-right: none;
}

.wrap-content a {
    text-decoration: none;
    font-weight: 600;
    color: #4F86F7;
}

.wrap-content a:hover {
    text-decoration: underline;
}

.wrap-content h1 {
    padding-bottom: .5rem;
    border-bottom: 1px solid #E0E0DD;
}

.wrap-button {
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}

.wrap-button a, 
.wrap-button input {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    padding: .6rem 1.2rem;
    color: #434342;
    background-color: #F2F2F1;
    border-radius: .4rem;
    border: 1px solid #C3C3C1;
}

.wrap-button a:hover, 
.wrap-button input:hover {
    background-color: #E0E0DD;
    border: 1px solid #C3C3C1;
}

.wrap-notfound {
    color: #545453;
    min-height: 60vh;
    text-align: center;
}

.errorlist {
    all: unset;
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.errorlist li {
    all: unset;
    color: #C35A5D;
    border-radius: .3rem;
    background-color: #FDE3E3;
    padding: .5rem 1rem;
}

.wrap-error {
    display: inline-block;
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #C35A5D;
    border-radius: .3rem;
    background-color: #FDE3E3;
    padding: .5rem 1rem;
}