{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki: {{ title }}
{% endblock %}

{% block body %}
    <div class="wrap-article">
        {% if not content %}
        <div class="wrap-notfound">
            <h1>Oops! Page doesn't exist yet.</h1>
            <p>You can try searching for a related article or create a new page to share your knowledge with the world!</p>
        </div>
        {% else %}
        <div class="wrap-content">
            {{ content | safe }}
        </div>
        <div class="wrap-button">
            <a href="{% url 'edit' title %}">Edit Page</a>
        </div>
        {% endif %}
    </div>
{% endblock %}