{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    {% if not_found %}
    <div class="wrap-index">
        <div class="wrap-notfound">
            <h1>Oops! Can't edit page.</h1>
            <p>It looks like there is no such a page yet, you can create a new page to share your knowledge with the world!</p>
        </div>
    </div>
    {% else %}
    <div class="wrap-new">
        <div class="wrap-heading-new">
            <h1>Edit {{ form.title.value }} Page</h1>
        </div>
        <div class="wrap-new-form">
            <form action="{% url 'edit' form.title.value %}" method="post">
                {% if error %}

                <span class="wrap-error">{{ error }}</span>

                {% endif %}
                {% csrf_token %}
                {{ form }}
                <div class="wrap-button">
                    <input type="submit" value="Save Page">
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <script>
        autosize(document.querySelector("textarea"))
    </script>
{% endblock %}