{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <div class="wrap-new">
        <div class="wrap-heading-new">
            <h1>Create New Page</h1>
        </div>
        {% if error %}
        <div class="wrap-error">
            <h3>{{ error }}</h3>
        </div>
        {% endif %}
        <div class="wrap-new-form">
            <form action="{% url 'new' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="wrap-button">
                    <input type="submit" value="Save Page">
                </div>
            </form>
        </div>
    </div>
    <script>
        autosize(document.querySelector("textarea"))
    </script>
{% endblock %}