{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h2>Following</h2>
    <div class="list-group">
        {% for post in page.object_list %}
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">@{{post.user}}</h5>
              <small>{{post.timestamp}}</small>
            </div>
            <p class="mb-5">{{post.content}}</p>
            <div class="d-flex w-100 justify-content-between">
                <!--
                    TODO
                    <button class="btn btn-primary" type="button">Like</button>
                    <small class="text-muted">Post was edited</small>
                -->
            </div>  
        </div>
        {% endfor %}
        <div class="d-flex align-items-center justify-content-center pt-5">
            <div class="btn-group btn-group-sm" role="group" aria-label="Small post page navigation buttons">
                {% if page.has_previous %}
                <a href="{{page.previous_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="previous">Previous</a>
                {% endif %}
                {% if page.has_next %}
                <a href="{{page.next_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="next">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}