{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>All Posts</h2>
        </div>
        {% if user.is_authenticated %}
        <div class="container align-items-center justify-content-center d-flex">
            <div class="border p-3 mt-3" style="width: 800px;">
                <h4>New Post</h4>
                <div class="form-floating">
                    <textarea class="form-control"  placeholder="What's happening?" id="newPost" style="height: 100px"></textarea>
                    <label for="newPost">What's happening?</label>
                </div>
                <button type="button" class="btn btn-white border btn-sm mt-3" id="newPostButton">Post</button>
            </div>
        </div>
        {% endif %}
        <div class="container pt-5 pb-5 align-items-center justify-content-center d-flex ">
            <div class="list-group " style="width: 600px;">
                {% for post in page.object_list %}
                <div class="list-group-item list-group-item-action mt-3 mb-3 border-top rounded shadow-sm width">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1 text-muted">@{{post.user}}</h5>
                        <small class="text-muted">{{post.timestamp}}</small>
                    </div>
                    <p class="mb-3 mt-3 lh-sm">{{post.content}}</p>
                    <div class="d-flex w-100 justify-content-between">
                        <button class="like-button btn btn-white text-danger" type="button" data-id="{{post.id}}">
                            <i class="bi bi-heart"></i> <span class="display-likes text-muted">0</span>
                        </button>
                        {% if user.username == post.user %}
                        <button class="edit-button btn btn-white border btn-small" type="button" data-id="{{post.id}}">
                            <i class="bi bi-pencil text-muted"></i> <small class="text-muted">Edit</small>
                        </button>
                        {% else %}
                        <small class="me-3 fw-lighter pt-2">{% if post.edited %}Edited{% endif %}</small>
                        {% endif %}
                    </div>  
                </div>
                {% empty %}
                <div class="text-center shadow-sm p-5 border rounded">
                    <h5 class="text-muted">Currently, there is no content available.</h5>
                </div>
                {% endfor %}
                <div class="d-flex align-items-center justify-content-center pt-5">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small post page navigation buttons">
                        {% if page.has_previous %}
                        <a href="?page={{ page.previous_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="previous">Previous</a>
                        {% endif %}
                        {% if page.has_next %}
                        <a href="?page={{page.next_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="next">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}