{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h2>All Posts</h2>
        {% if user.is_authenticated %}
            <div class="border p-3">
                <h4>New Post</h4>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="What's happening?" id="newPost" style="height: 100px"></textarea>
                    <label for="newPost">What's happening?</label>
                </div>
                <button type="button" class="btn btn-primary btn-sm mt-3" id="newPostButton">Post</button>
            </div>
        {% endif %}
        <div class="container">
            <div class="list-group">
                {% for post in page.object_list %}
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@{{post.user}}</h5>
                        <small>{{post.timestamp}}</small>
                    </div>
                    <p class="mb-3 mt-3">{{post.content}}</p>
                    <div class="d-flex w-100 justify-content-between">
                        <small id="edited" class="text-muted">Edited</small>
                        <!-- TODO <small class="text-muted">Edited</small> -->
                        <button class="btn btn-white text-danger" type="button" id="like-button">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>  
                </div>
                {% empty %}
                <p>Currently, there is no content available.</p>
                {% endfor %}
                <div class="d-flex align-items-center justify-content-center pt-5">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small post page navigation buttons">
                        {% if page.has_previous %}
                        <a href="?page={{ page.previous_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="previous">Previous</a>
                        {% endif %}
                        {% if page.has_next %}
                        <a href="?page={{page.next_page_number}}" type="button" class="btn btn-outline-dark" style="width: 100px;" id="next">Next</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- <script src="{% static 'network/main.js' %}"></script> -->
{% endblock %}