{% extends "auctions/layout.html" %}

{% block body %}
    
    <div class="container">
    <h2>Create listing</h2>
    {% if message %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <input type="text" name="description" class="form-control" placeholder="Description">
        </div>
        <div class="form-group">
            <input type="number" name="starting_bid" class="form-control" placeholder="Starting bid" min="0" max="2147483647">
        </div>
        <div class="form-group">
            <select class="form-control" name="category">
                <option disabled selected>Category</option>
                <option value="F">Fashion</option>
                <option value="T">Toys</option>
                <option value="E">Electronics</option>
                <option value="H">Home</option>
                <option value="O">Other</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="hyperlink" class="form-control" placeholder="Hyperlink">
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    </div>
{% endblock %}