{% extends "auctions/layout.html" %}

{% block body %}

<div class="container pb-5">
    <div class="d-flex justify-content-center">
        {% if watchlist %}
        <h2>Watchlist</h2>
        {% elif category %}
        <h2>Active Listings for {{category|capfirst}}</h2>
        {% else %}
        <h2>Active Listings</h2>
        {% endif %}
    </div>
    {% if all_listing %}
    <div class="row">
        {% for auction in all_listing %}
            {% if auction.active %}
            <div class="col-md-6 mt-5">
                <div class="card h-100 border-0">
                    <div class="card-header border-0 bg-primary bg-opacity-75 border-primary text-white" style="text-align: center;">
                        <h5 class="fw-bolder card-text">{{auction.bid|floatformat:2}} <span class="fw-normal">€</span></h5>
                    </div>
                    {% if auction.hyperlink %}
                    <div class="bg-primary bg-opacity-10 d-flex align-items-center justify-content-center overflow-hidden" style="max-height: 20rem;">
                        <img class="img-fluid" src="{{auction.hyperlink}}" onerror="this.src='/static/img/noimage.png'">
                    </div>
                    {% endif %}
                    <div class="card-body shadow-sm">
                        <h3 class="card-title border-bottom pb-1">{{auction.title}}</h3>
                        <div style="display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;">
                            <p class="card-text">{{auction.description}}</p>
                        </div>
                        <p class="text-muted mt-2">Created {{auction.time|timesince}} ago.</p>
                    </div>
                    <div class="card-footer border-0 bg-white shadow">
                        <a href="/item/{{auction.id}}" class="btn btn-primary bg-gradient text-white btn-sm">See more</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-center pt-5">
            <div class="text-center">
                <img class="img-fluid" src="/static/img/box.jpg" style="width: 250px;"/>
                <p class="text-muted pt-3"><small>There are currently no items available for listing.</small></p>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}