{% extends "auctions/layout.html" %}

{% block body %}

<div class="container pb-5">
    <div class="d-flex justify-content-center">
        <h2>Active Listings</h2>
    </div>
    {% if all_listing %}
    <div class="row">
        {% for auction in all_listing %}
            {% if auction.active %}
            <div class="col-md-4 mt-5">
                <div class="card h-100">
                    <div class="card-header" style="text-align: center;">
                        <h5 class="fw-bolder card-text">{{auction.starting_bid|floatformat:2}} <span class="fw-normal">€</span></h5>
                    </div>
                    {% if auction.hyperlink %}
                    <div class="d-flex align-items-center justify-content-center overflow-hidden" style="max-height: 20rem;">
                        <img class="img-fluid" src="{{auction.hyperlink}}" onerror="this.src='/static/img/noimage.jpg'">
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">{{auction.title}}</h3>
                        <div style="display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;">
                            <p class="card-text">{{auction.description}}</p>
                        </div>
                        <p class="text-muted mt-2">Created {{auction.time|timesince}} ago.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/item/{{auction.id}}" class="btn btn-dark btn-sm">See more</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
        <div class="container d-flex justify-content-center pt-5">
            <p>There are currently no items available for listing.</p>
        </div>
    {% endif %}
</div>
    
    
    
{% endblock %}