{% extends "auctions/layout.html" %}

{% block body %}
<div class="container pb-5">

    {% if not item.active %}
        {% if item.winner.username == user.username %}
        <div class="alert alert-primary text-center" role="alert">
            Congratulations! You <b>won</b> the auction. 🧢
        </div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Bidding process completed. The item has been successfully <b>sold</b>!
        </div>
        {% endif %}
    {% endif %}
    {% if message %}
    <div class="alert alert-danger text-center" role="alert">
        {{message}}
    </div>
    {% endif %}
    <div class="row border-bottom pb-5">
        <div class="col-md-6">
            <!-- IMAGE -->
            <div class="img-thumbnail text-center shadow p-3 ">
                <img class="rounded-4 img-thumbnail border-0" src="{{item.hyperlink}}" onerror="this.src='/static/img/noimage.png'">
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <h2 class="border-bottom pb-3 pt-3">
                {{item.title}}
            </h2>
            <!-- CLOSE BUTTON -->
            {% if item.active and user.is_authenticated and user == item.user %}
            <form action="{% url 'close_item' item_id=item.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                    class="btn rounded-pill mt-3 mb-3 text-bg-danger text-white shadow bg-gradient" style="width: 100%;">
                    <span class="fw-bold fs-4">
                        <span class="fw-normal fs-4">Close Auction at </span>
                        {{bid.amount|floatformat:2}}</span> <span class="fw-normal fs-5">€
                    </span>
                </button>
            </form>
            <!-- BID BUTTON -->
            {% else %} 
            <button type="button"
                    {% if not item.active %} disabled {% endif %}
                    class="btn rounded-pill mt-3 mb-3 text-bg-{% if item.active %}primary bg-opacity-75{% else %}danger{% endif %} text-white shadow bg-gradient"
                    data-bs-toggle="modal" data-bs-target="#Bidding" data-bs-toggle="tooltip"
                    title="Place your best bid now!">
                <span class="fw-bold fs-4">
                    <span class="fw-normal fs-4">{% if item.active %}Bid{% else %}Sold{% endif %} at </span>
                    {{bid.amount|floatformat:2}}</span> <span class="fw-normal fs-5">€
                </span>
            </button>
            {% endif %}
            <!-- WATCHLIST AND CATEGORY BUTTONS-->
            <button type="submit" class="btn badge pt-3 pb-3 rounded-pill text-dark text-opacity-75 bg-secondary bg-opacity-10 border-dark border-0">
                <span class="fs-6"><i class="bi bi-eye"></i> Add to watchlist</span>
            </button>
            <a href="#" class="btn badge mt-3 pt-3 pb-3 rounded-pill text-dark text-opacity-75 bg-secondary bg-opacity-10 border-dark border-0">
                <span class="fs-6"><i class="bi bi-tag"></i> Category {{item.get_category_display}}</span>
            </a>
            <!-- DESCRIPTION -->
            <div class="pt-5 text-dark">
                <label class="text-muted" for="description">Description</label>
                <p id="description">{{item.description}}</p>
            </div>
        </div>
    </div>
    <!-- BIDS HISTORY -->
    <div class="container pt-3 pb-5" style="max-width: 800px;">
        <ol class="list-group list-group-flush">
            <li class="list-group-item text-muted fs-5">Listing created by <b>{{item.user}}</b> on {{item.time|date:"F j, Y"}}</li>
            {% for history_bid in all_bids %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{history_bid.user.username}}</div>
                    <small>placed a {% if forloop.first %}starting{% endif %} bid at {{history_bid.timestamp|date:"H:i"}} on {{history_bid.timestamp|date:"F j"}}</small> 
                </div>
                <span class="badge bg-primary fs-6 {% if forloop.last %}bg-gradient{% else %}bg-opacity-50{% endif %} rounded-pill">{{history_bid.amount|floatformat:2}} €</span>
            </li>
            {% endfor %}
            {% if not item.active %}
            <li class="list-group-item text-muted">Listing closed with a winning bid of <b>{{bid.amount|floatformat:2}}</b> € by <b>{{item.winner.username}}</b></li>
            {% endif %}
        </ol>
    </div>
    <!-- COMMENTS -->
    <div class="container" style="max-width: 800px;">
        {% if all_comments %}
        <h5 class="pb-3 border-bottom text-muted">Comments</h5>
        <ul class="list-group list-group-flush">
            {% for comment in all_comments %}
            <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                <img class="img-fluid rounded-5" src="/static/img/user.png" style="width: 35px;"/>
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{comment.user.username}} {% if comment.user.username == item.user.username %}<span class="badge text-bg-primary bg-opacity-10">
                        <small class="text-primary text-opacity-75">Seller</small></span>{% endif %}
                    </div>
                    <p class="text-wrap text-break">{{comment.content}}</p>
                </div>
                <small class="text-muted text-nowrap">{{comment.timestamp|date:"F j, Y"}}</small>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="d-flex align-items-center justify-content-center pt-3 pb-3">
            <div class="text-center">
                <img class="img-fluid" src="/static/img/nocomment.png" style="width: 150px;"/>
                <p class="text-muted pt-3"><small>There are currently no comments available for this auction.</small></p>
            </div>
        </div>
        {% endif %}
        <form action="{% url 'comment_item' item_id=item.id %}" class="pt-3" method="post">
            {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" name="comment" placeholder="Leave a comment here" id="commentTextarea" style="height: 100px"></textarea>
                <label for="commentTextarea">Leave a comment here...</label>
            </div>
            <div class="pt-3">
                <input class="btn btn-primary btn-sm bg-gradient" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<!-- BID MODAL -->
{% if item.active and user.is_authenticated %}
<div class="modal fade" id="Bidding" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Submit Your Bid</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'bid_item' item_id=item.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="number" name="bid_amount" class="form-control fs-4" placeholder="Bid" min="{{bid.amount}}" max="2147483647" required>
                    <div class="form-text">
                        <span class="fw-light">Enter your bid amount for the item, ensuring it surpasses the current highest bid of </span>
                        <span class="fw-bolder">{{bid.amount|floatformat:2}}</span>
                        <span class="fw-light">€ by the minimum required increment.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success fw-semibold">Submit Bid</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}