{% extends "auctions/layout.html" %}

{% block body %}

<div class="container" style="max-width: 700px;">
    <h2>Register</h2>
    {% if message %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary mb-3" type="submit" value="Register">
    </form>
    <p class="text-muted">
        Already have an account? 
        <a href="{% url 'login' %}" class="text-decoration-none">Log In here.</a>
    </p>
</div>
{% endblock %}