body {
    font-family: sans-serif;
    background-color: #202124;
    display: flex;
    justify-content: center;
}

.wrap-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1500px;
    width: 100%;
}

.wrap-header {
    width: 100%;
}

.wrap-header a {
    color: #e8eaed;
    text-decoration: none;
    font-size: medium;
    float: right;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.wrap-header a:hover {
    text-decoration: underline;
}

.wrap-img {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.wrap-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.wrap-search {
    all: unset;
    font-size: large;
    font-weight: 600;
    color: #bdc1c6;
    background-color: #202124;
    border: 1px solid #5f6368;
    border-radius: 1.5rem;
    padding: .8rem 2rem;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 450px;
}

.wrap-search:hover,
.wrap-search:focus {
    background-color: #303134;
    border-color: #303134;
}

.wrap-buttons {
    display: inline-flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.wrap-button {
    all: unset;
    font-size: medium;
    font-weight: 500;
    white-space: nowrap;
    color: #e8eaed;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: .4rem;
    margin: 0rem .5rem;
    padding: .7rem 1.2rem;
}

.wrap-button:hover {
    cursor: pointer;
    border: 1px solid #5f6368;
}

/* Advanced Search Page */

.wrap-bar {
    width: 100%;
    color: #f28b82;
    font-size: larger;
    font-weight: 600;
    border-bottom: 1px solid #5f6368;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.wrap-bar label {
    margin-left: 3rem;
}

.wrap-advanced-form {
    width: 100%;
}

.wrap-advanced {
    width: 50%;
    min-width: 500px;
    padding-bottom: 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
    border-bottom: 1px solid #5f6368;
}

.wrap-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

}

.wrap-input label {
    order: 1;
    color: #e8eaed;
    font-size: small;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1rem;
}

.wrap-input input {
    all: unset;
    order: 2;
    width: 70%;
    font-size: medium;
    font-weight: 500;
    padding: .5rem;
    background-color: #202124;
    border: 1px solid #5f6368;
    border-radius: .2rem;
    color: #e8eaed;
}

.wrap-input input:focus {
    border: 1px solid #8ab4f8;
}


.wrap-advanced-button {
    all: unset;
    float: right;
    font-size: small;
    font-weight: 700;
    white-space: nowrap;
    color: #202124;
    background-color: #8ab4f8;
    border: 1px solid #8ab4f8;
    border-radius: .3rem;
    margin-top: 4rem;
    padding: .7rem 1.2rem;
}

.wrap-advanced-button:hover {
    cursor: pointer;
    background-color: #b9d2fb;
    border: 1px solid #3079ed;
}